.company-header {
  display: flex;
  align-items: center;
  img{
    margin-right: 16px;
  }
}

.container-show {
  width: 70%;
  margin: 24px auto;
}

.company-name {
  font-size: 48px;
  color: #254554;
}

.company-type {
  font-size: 32px;
  color: #254554;
}

.company-description-score {
  display: flex;
  gap: 24px;
  div{
    flex: 1;
  }
  p{
    flex: 1;
    margin: 0;
  }
}


.e-mail-logo {
  width: 180px;
  display: block;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4px;
}

.company-description-bookmark {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.company-rating {
  font-size: 70px;
  font-weight: bold;
}

.rating-round-small {
  width: 150px;
  height: 150px;
}

.sub-company-rating {
  font-size: 30px;
  font-weight: bold;
}

.fa-company {
text-align: center;
}
.fa:hover {
  box-shadow: $shadow-md;
  transform: scale(1.04);
  transition:0.5s;
}

.company-score-wrapper {
  text-align: center;
}

.card-style {
  background: #FCFAFA;
  padding: 24px;
  border-radius: 8px;
  box-shadow: $shadow-sm;
}

.diversity-scores {
  margin-top: 24px;
}

.buttons-bookmarks {
  display: flex;
  align-items: center;
  margin: 20px;
}

.cards-bookmarks-show {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 71px;
  border: none;
  flex-grow: 1;
}
