<div class="container-about">
  <h1 class="text-center">About us</h1>
  <h2>Who are we?</h2>
  <p>Paritize is a tool to improve transparency when surrounding gender equality in the workplace. It was established in 2022, with 4 key members passionate about diversity and inclusion. </p>
  <h2>Our Vision</h2>
  <p>To <strong>enable</strong> all people to succeed in the workplace regardless of gender.</p>
  <p>To <strong>overcome</strong> the barriers preventing women from salary or pay partiy.</p>
  <p>To <strong>succeed</strong>: for both businesses and individuals to be more productive, fair, and profitable.</p>
  <h2>Why this is important?</h2>
  <p>According to the Global Gender Gap Report 2020 (1), it will take another 100 years to achieve gender equality based on the current rate of progress.</p>
  <p>In addition...</p>
    <ul>
      <li>40% of women vs. 70% of men feel excluded from decision-making, do not feel comfortable expressing opinions, and do not feel they will succeeed (2).</li>
      <li>67% of young jobseekers consider gender diversity a crucial factor when applying for jobs (3).</li>
      <li>78% of large companies lack diversity in leadership positions (4).</li>
    </ul>
    <h2>The business case: profits, innovation, and productivity.</h2>
    <p> Having gender diversity in your teams means you benefit from the different points of view and approaches that come from different life experiences. A multiplicity of perspectives can spark creativity and innovation, and help organizations spot and seize new opportunities.</p>
    <p> In reality, this means:
    <ul>
      <li>Companies with above average gender diversity outpferform those without by 46-58% (4).</li>
      <li>Companies with higher representation of women at C-level have increased productivity and profitability, averaging a 34% increase returns to shareholders (5,6).</li>
    </ul>
  <p>Work and learn with a unique community of businesses to lead, influence and take action on improving gender equality. Take collective action with like minded organisations to improve all of the communities you work with.</p>
  <h2>Why you should join us.</h2>
  <p>Work and learn with a unique community of businesses to lead, influence and take action on improving gender equality. Take collective action with like minded organisations to improve all of the communities you work with.</p>
 <%= image_tag("11098.png", width: 500) %>
  <p>1. World Economic Forum (2020), Global Gender Gap Report, 2020.</p>
  <p>2. How to improve the gender diversity of work teams, Culture Amp, 2021.</p>
  <p>3. What Job Seekers Really Think About Your Diversity and Inclusion Stats, Glassdoor, 2021</p>
  <p>4. How Diversity Can Drive Innovation, Harvard Business Review.</p>
  <p>5. Women Count 2020 Report, 2020.</p>
  <p>6. Fast Company, The Business case for Women in the C-suite.</p>
</div>
