<div class="container-fluid">
  <h1 class="text-center">About us</h1>
  <h2>Who are we?</h2>
  <p>Paritize is a tool to improve transparency when surrounding gender equality in the workplace. It was established in 2022, with 4 key members passionate about diversity and inclusion. </p>
  <h2>Our Vision</h2>
  <p>To <strong>enable</strong> all people to succeed in the workplace regardless of gender.</p>
  <p>To <strong>overcome</strong> the barriers preventing women from salary or pay partiy.</p>
  <p>To <strong>succeed</strong>: for both businesses and individuals to be more productive, fair, and profitable.</p>
  <h2>Why should you join us?</h2>
  <p>Work and learn with a unique community of businesses to lead, influence and take action on improving gender equality. Take collective action with like minded organisations to improve all of the communities you work with.</p>
  <img src="https://img.freepik.com/free-vector/young-people-jumping-together-illustration_52683-27019.jpg?w=500" alt="">
</div>
