<div class="banner"
     style="background-image: url(https://res.cloudinary.com/dqpmvek08/image/upload/v1646164525/homepage_ju5r44.jpg);">
  <div class="text-left container">
    <h1>Paritize</h1>
    <p>Gender diversity in focus</p>
  </div>
</div>