<div class="banner">
  <div>
    <h1>Gender diversity in focus</h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
    <%= simple_form_for :search, url: companies_path, method: "GET", html: { class: 'form-inline', id: 'search-form', data_click_search_target: "form" } do |f| %>
      <%= f.input :company_name, label: false, input_html: {placeholder:  "Search a company"} %>
      <%= f.submit "Search", class: "btn btn-flat" %>
    <% end %>
  </div>
  <img class='hero' src="https://res.cloudinary.com/dqpmvek08/image/upload/v1646164525/homepage_ju5r44.jpg">
</div>



<h1 class="logo-title">Companies we have worked with</h1>

<div class="company-grid">
  <%@companies[0..5].each do |company|%>
    <%= cl_image_tag company.photo.key %>
  <%end%>
</div>

<h1> We offer a complete range of resources </h1>

<div class="main-container mt-2">
  <div class="resource-card">
    <div class="card" style="width: 18rem;"><a href="https://splashbi.com/importance-of-gender-diversity-in-the-workplace/" target="_blank"></a>
      <img class="card-img-top" src="https://668672.smushcdn.com/1005447/wp-content/uploads/2021/06/benefits-gender-11.jpg?lossy=0&strip=1&webp=1" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Importance of gender diversity in the workplace</h5>
        <p class="card-text">Companies with gender diversity are more successful in keeping a low turnover rate, which significantly decreases their expenses. Moreover, they exhibit more innovation and make more intelligent decisions.</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://hbr.org/resources/images/article_assets/2019/02/Feb19_11_855383234.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><a href="https://hbr.org/2019/02/research-when-gender-diversity-makes-firms-more-productive" target="_blank">Research: When Gender Diversity Makes Firms More Productive</h5></a>
        <p class="card-text">The business world has long debated the effect of gender diversity on business outcomes. Does diversity make a company more productive?</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://blog.psionline.com/hs-fs/hubfs/iStock-1162601332.jpg?width=1574&name=iStock-1162601332.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><a href="https://www.spglobal.com/esg/csa/yearbook/articles/gender-equality-workplace-going-beyond-women-on-the-board" target="_blank">Gender equality in the workplace: going beyond women on the board</h5></a>
        <p class="card-text">The outlook for gender lens investing is geared to move beyond its current focus on large-cap companies and developed markets, to also set expectations on smallcap companies and in developing markets.</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://content.psionline.com/how-to-become-a-resilient-leader?_ga=2.13917872.649592114.1646765740-580928651.1646379983.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><a href="https://www.competewith.com/compensation-and-benefits/parental-and-maternity-leave-in-tech-companies/" target="_blank">Parental leave trends in tech</h5></a>
        <p class="card-text">There has been a lot of buzz around parental leave, but our recent statistics show that over half (51.3%) of companies in the tech sector still don’t provide paid maternity leave at all. </p>
      </div>
    </div>
  </div>
</div>
