<div class="companies_container">
<h1>List of comapnies</h1>
<div class="dropdown">
   <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Select company type
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#">Science</a></li>
    <li><a class="dropdown-item" href="#">Technology</a></li>
    <li><a class="dropdown-item" href="#">Engineering</a></li>
    <li><a class="dropdown-item" href="#">Math</a></li>
  </ul>
</div>
<% @companies.each do | company | %>
<div class="company_card">
<div class="company_card_info">
<%= cl_image_tag company.photo.key, class: "company_card_img" %>
<div class="card-details">
<h3><%= company.company_name %></h3>
<h3><%= company.hq_location %></h3>
      </div>
      </div>
<div class="rating">
<div class="rating_score">
<h4>100%</h4>
</div>
<i class="fas fa-heart"></i>
</div>
</div>
    <% end %>
 </div>
</div>
