<div class="companies_container">
    <h1>List of companies</h1>

<div class="dropdown">
  <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
    Company types
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <li><button class="dropdown-item" type="button">Science</button></li>
    <li><button class="dropdown-item" type="button">Technology</button></li>
    <li><button class="dropdown-item" type="button">Engineering</button></li>
    <li><button class="dropdown-item" type="button">Math</button></li>
  </ul>
</div>
   <% @companies.each do | company | %>
     <div class="company_card">
       <div class="company_card_info">
        <% if company.photo.key != nil %>
           <%= cl_image_tag company.photo.key, class: "company_card_img" %>
          <%= link_to "View bookmarked company", company_path(company) %>
         <% end %>
         <div class="card-details">
           <h3><%= company.company_name %></h3>
           <p><%= company.hq_location %></p>
         </div>
       </div>
       <div class="rating">
         <div class="rating_score">
           <h4>100%</h4>
         </div>
         <i class="fas fa-heart"></i>
       </div>
      </div>
    <% end %>
 </div>
