<div class="wrapper">
  <div class ="company-details">
  <h1> Gender represenation scores:
   total, entry level, mid/senior, and to C-level or board positions</h1>
  <h2> Your total gender rating score: </h2>
  <% if @gender_rating.average_rating >= 50 %>
    <div class="circle-green"></div>
  <% elsif @gender_rating.average_rating <= 29 %>
    <div class="circle-red"></div>
  <% else @gender_rating.average_rating %>
    <div class="circle-orange"></div>
  <% end %>

    <h2> C-LEVEL AND BOARD </h2>
    <h3> Gender score </h3>
  <% if @gender_rating.c_rating >= 50 %>
    <div class="circle-green"></div>
  <% elsif @gender_rating.c_rating <= 29 %>
   <div class="circle-red"></div>
  <% else @gender_rating.c_rating %>
    <div class="circle-orange"></div>
  <% end %>

    <h2> MID AND SENIOR LEVEL </h2>
    <h3> Gender score </h3>
  <% if @gender_rating.mid_rating >= 50 %>
    <div class="circle-green"></div>
  <% elsif @gender_rating.mid_rating <= 29 %>
    <div class="circle-red"></div>
  <% else @gender_rating.mid_rating %>
    <div class="circle-orange"></div>
  <% end %>

    <h2>   </h2>
    <h3> Gender score </h3>
  <% if @gender_rating.junior_rating >= 50 %>
    <div class="circle-green"></div>
  <% elsif @gender_rating.junior_rating <= 29 %>
    <div class="circle-red"></div>
  <% else @gender_rating.junior_rating %>
    <div class="circle-orange"></div>
  <% end %>

  </div>

  <h2>Would you like to know how to attract diverse talent to your organisation?</h2>
  <h3> See resources</h3>
</div>

<div class="main-container mt-5 mb-3">
  <div class="resource-card">
   <div class="card border-light" style="width: 22rem;cursor:pointer" onclick="window.open('https://blog.psionline.com/talent/7-reasons-to-hire-women-leaders', '_blank')">
      <img class="card-img-top" style="width: 200px;" src="https://img.freepik.com/free-vector/leader-concept-illustration_114360-7854.jpg?t=st=1647034104~exp=1647034704~hmac=62c8cc3e8c8154cfeba819431069241a3b52d028a6510722b1f0c666d3f173de&w=1060" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">7 Reasons To Hire Women Leaders</h5>
        <p class="card-text"> A review of S&P 500 companies shows that women hold 5.2% of CEO positions, are 11% of the top earners in the company, and hold about 21% of board seats (Catalyst, 2016).</p>
      </div>
   </div>
   <div class="card border-light" style="width: 22rem;cursor:pointer" onclick="window.open('https://www.ilo.org/infostories/en-GB/Stories/Employment/barriers-women', '_blank')">
      <img class="card-img-top" src="https://blogs.worldbank.org/sites/default/files/water/blod_ismail.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">The gender gap in employment: What's holding women back?</h5>
        <p class="card-text">Around the world, finding a job is much tougher for women than it is for men. When women are employed, they tend to work in low-quality jobs in vulnerable conditions, and there is little improvement forecast in the near future.</p>
      </div>
   </div>
   <div class="card border-light" style="width: 22rem;cursor:pointer" onclick="window.open('https://www.entrepreneur.com/article/372660', '_blank')">
      <img class="card-img-top" src="https://cdn.sanity.io/images/92ui5egz/production/ecd28fa212c852943fa0044308a4ff4d0b64947b-1440x835.jpg?rect=0,12,1440,810&w=1440&h=810&auto=format" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">73 Percent of Companies With Gender-Equality Practices Increased Profitability and Productivity in 2021.</h5>
        <p class="card-text">Gender equality in the workforce is critical to the opportunity, growth and success of all companies. </p>
      </div>
   </div>
  </div>
</div>
