.btn-about {
  color: white;
  background-color: $medium-grey;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  p {
    color: $black;
  }
  a {
    text-decoration: none;
  }
  #modal-button {
    padding: 0px;
  }
}

.btn-orange {
  background-color: #F0CE89;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  p {
    color: $black;
  }
  a {
    text-decoration: none;
  }
  #modal-button {
    padding: 0px;
  }
}

.btn-primary {
    background-color: $green-light !important;
    border-radius: 50px;
    font-size: 20px;
}

.btn-primary:hover {
  background-color: $green-puzzle !important;
}


.btn-flat.companies {
  margin-bottom: 20px;
  margin-left: 20px;

.btn-primary-form {
    background-color: $green-light !important;
    color: white;
}

.btn-primary-form:hover {
  background-color: $green-puzzle !important;
  color: white;
}
}
