.company_card {
  display: flex;
  justify-content: space-between;
  border-radius: 3px;
  /* box-shadow: 0 0 10px rgba(0,0,0,0.10); */
  padding: 10px;
  margin-top: 10px;
  position: relative;
  border: 1px solid white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06)
}
.companies_container {
  width: 600px;
  margin: 0 auto;
}
.company_card_img {
  margin-right: 20px;
  height: 100px;
  width: 100px;
  object-fit: contain;
  object-position: center;
}
a:link {
  text-decoration: none;
  color: #333333;
}

a:visited {
  text-decoration: none;
  color: #333333;
}


.company-bookmark-list {
  padding: 16px;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.company_card_info {
  display: flex;
  justify-content: space-evenly;
}

.card-details {
  margin-top: 15px;
  margin-left: 15px;
}

.rating {
  display: flex;
}
.rating-bookmark {
  display: flex;
}

h4 {
    margin: 0;
    font-size: 18px;
    position: relative;
    top: 25px;
    left: 10px;
    text-decoration: none;
  }



button {
border: none;
background-color: transparent;

  .bookmarked {
  color: black;
  margin-left: 20px;
}
.unbookmarked {
  color: #aaa;
  margin-left: 20px;
}
}


.resource-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  border: none;
  flex-grow: 1;
  margin-left: 80px;
  border-radius: 8px;
}

.card:hover{
  box-shadow: $shadow-md;
  transform: scale(1.04);
  transition:0.5s;
}

.card-text{
  height:160px;
}

.card {
  border-radius: 8px;
}

.card-img, .card-img-top {
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
}

h1.company-header {
  margin-bottom: 25px;
  margin-top: 25px;
}
