.company_card {
  display: flex;
  justify-content: space-between;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 3px;
  margin-top: 10px;
  position: relative;
}
.company-bookmark-list {
  padding: 16px;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.company_card_info {
  display: flex;
  justify-content: space-evenly;
}

.rating {
  display: flex;
}

.companies_container {
  width: 600px;
  margin: 0 auto;
}
.rating_score {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  h4 {
    margin: 0;
  }
}
.company_card_img {
  height: 100px;
  width: 100px;
  object-fit: contain;
  object-position: center;
}
