
.card-profile-infos {
  overflow: hidden;
  height: 120px;
  background: EFF1F1;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-profile-infos h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-profile-infos p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-bookmarks .card-profile-infos {
  padding: 16px;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-profile {
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #EFF1F1;
  box-shadow: 1px 1px 3px #EFF1F1;
  h1 {
    margin-bottom: 16px;
  }
}

.card-about-btn {
  padding: 16px;
  height: 350px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.card-about {
  margin-top: 16px;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #EFF1F1;
  box-shadow: 1px 1px 3px #EFF1F1;
}

 .card-bookmarks {
  margin-top: 16px;
  h4 {
    margin-bottom: 12px;
  }
  p {
    margin-bottom: 8px;
  }
  i {
    margin-right: 8px;
  }
}

.wrapper {
  box-shadow: $shadow-md;
}
/* .card-carousel {
  position: fixed;
  bottom: 65px;
}

.card-index {
  display: flex;
  flex-direction: row;
  height: 144px;
}

.card-name {
  overflow: hidden;
}

.card-details {
  width: 231px;
  height: 100%;
} */

/* .card-action {
  p {
    font-size: 32px;
  }
  a {
    text-decoration: none;
  }
} */


//.card-notification {
//  position: relative;
// }

// .card-link {
// position: absolute;
// top: 0;
//  bottom: 0;
// left: 0;
// width: 100%;
//}
