.circle-rating-green {
  position: absolute;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: $green-light;
}

.circle-rating-red {
  position: absolute;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: $orange-light;
}

.circle-rating-orange {
  position: absolute;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: $red-light;
}
