.circle-green {
  width: 270px;
  height: 270px;
  border-radius: 50%;
  display: inline-block;
  background-color: $green-light;
}

.circle-orange {
   width: 270px;
  height: 270px;
  border-radius: 50%;
  display: inline-block;
  background-color: $orange-light;
}

.circle-show {
    align-items: center;
    display: flex !important;
    flex-direction: row;
    justify-content: space-around;
}

.circle-red {
  width: 270px;
  height: 270px;
  border-radius: 50%;
  display: inline-block;
  background-color: $red-light;
}
