.navbar-lewagon {
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.8);
}

.navbar-wagon-fixed {
  position: sticky;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-right {
  display: flex;
}

.btn-light:hover {
  background-color: #6FBDA7;
  color: white;
  border-radius: 4px;
}

.nav-link:hover {
  color: $dark-blue;
  transition: 0.4s ease;
}
